// GOOGLE FONTS FONT-FAMILY: CRIMSON PRO + LATO
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Lato:wght@300;400&display=swap');
// VARIÁVEIS
$bg: #D9CDF7;
$color: #271A45;

// FORMATAÇÕES GERAIS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg;
    font-family: "Crimson Pro", sans-serif;
    color: $color;
}

// MAIN
main {
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #btn-360 {
        float: right;
        position: absolute;
        margin-left: -80px;
    }

    #product-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;

        p {
            font-family: "Lato", sans-serif;
        }

        p:first-child {
            font-size: 13px;
            font-weight: 300;
            text-transform: uppercase;
        }

        h2 {
            font-size: 50px;
            font-weight: 500;
        }

        p:last-child {
            font-size: 16px;
            font-weight: 400;
        }

        button {
            width: 148px;
            height: 32px;
            margin-top: 20px;
            background-color: $bg;
            font-family: "Crimson Pro", sans-serif;
            font-size: 12px;
            font-weight: 500;
            color: $color;
            text-transform: uppercase;
            border: 1px solid $color;
            border-radius: 15px;
            cursor: pointer;
            transition: .4s ease-in-out;
            outline: 0;
        }

        button:hover {
            background-color: $color;
            color: $bg;
        }
    }
}